
a{
    text-decoration: none;
    color:#333;
    cursor:pointer;
}
.btn{
    display:block;
    width:100px;
    padding:5px;
    margin:15px auto;
    background-color: #27BEA2;
    border-radius:7px;
}
body{
    font:16px/1.5 arial, "Microsoft Yahei", "??????", STXihei, "??????", sans-serif;
}
.title-bar{
    background-color:rgba(204,204,204,0.5);
}
.container-diy{
    width:1100px;
    margin:10px auto;
}
.container-diy1{
    width:1100px;
    margin:10px auto;
    background-color:rgba(204,204,204,0.5);
}
.container-diy1 .h3{
    margin-left:30px;
}
.clearfix:after{
    content:'';
    display:block;
    clear:both;
}
.nav-row{
    width:1100px;
    font:16px/1.5 arial, "Microsoft Yahei", "??????", STXihei, "??????", sans-serif;
}
nav #navlist ul{
    padding-left:20%;
    background-color:rgba(253,253,253,0.7);
    margin-top:20px;
    margin-bottom:30px;
}
nav #navlist ul li{
    margin-left:100px;
    font-size:24px;
}
nav .nav-bar-diy{
    position:fixed!important;
    top:487px;
    z-index:999;
}
#header{
    background: #b84d45 url(../img/bg.png);
    padding:50px 0;
    text-align: center;
    color:rgba(255,255,255,0.7);
}
header .information{
    margin:0 25%;
}
#header  .icon a{
    position:relative;
    top:-30px;
    font-size:24px;
    color: rgba(0,200,0,.8);
}
/*#header > .icon > ul > li{
    float:left;
}*/
/*#header > .icon > ul > li > a {
    font-size:24px;
    display: block;
    color: rgba(0,200,0,.8);
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    margin: 0 14px;
    border: 2px solid rgba(0,200,0,.8);
    border-radius: 50%;
    -webkit-transition: all .5s;
    transition: all .5s;
}*/
nav .navbar-header .pull-left{
    margin-left:50px;
}
#header p{
    text-align: left;
    font-size:20px;
}
#contact li{
    float:left;
    margin-left:200px;
    font-size:24px;
}
#contact li a:hover{
    text-decoration: underline;
    color:#b84d45;
}
.nav-diy{
    text-align: center;
    transition:all 0.4s;
    background-color:rgba(200,200,200,.5);
}
nav > ul > li {
    display: inline-block;
}
nav > ul > li > a {
    display: block;
    margin: 0 20px;
    font-size: 20px;
    font-weight: 500;
    color: rgba(177,76,69,.8);
}
#skill{
    background-color: #fff;
    color: #494d55;
    /*text-align: center;*/
}
#skill .title-bar{
    text-align: left;
    margin-bottom:30px;
}
#skill .title-bar .logo1{
    float:left;
    font-size:24px;
    color:#b84d45;
    margin:20px 10px 20px 20px;
}
/*
#skill h3{
    line-height:0;
}
#skill .container{
    background-color: #eee;
}
#skill li{
    float: left;
    width: 300px;
    height:250px;
    box-sizing: border-box;
    text-align: center;
    padding:10px;
}
#skill li p{
    line-height:1.5
}
!*??????????*!
#skill .progress {
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    margin: 0 auto 20px;
    border-radius: 50%;
    border: 7px solid;
    position: relative;
    color: #030303;
    font-weight: 500;
    -webkit-transition: all .5s;
    transition: all .5s;
}
#skill .progress:before {
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 7px solid;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: -7px;
    left: -7px;
    -webkit-transition: all .5s;
    transition: all .5s;
}
#skill .progress:after {
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 7px solid;
    position: absolute;
    top: -7px;
    left: -7px;
    -webkit-transition: all .5s;
    transition: all .5s;
}
#skill .theme-1 {
    border-color: #ccc #ccc #b84d45 #b84d45;
}
#skill .theme-1:before {
    border-color: transparent transparent #b84d45 #b84d45;
}
#skill .theme-1:after {
    border-color: transparent #b84d45 #b84d45 transparent;
}
!*??????*!
#skill .html:after {
    -webkit-transform: rotate(-22deg);
    transform: rotate(-22deg);
}
!*??????*!
#skill .html5:after {
    -webkit-transform: rotate(50deg);
    transform: rotate(50deg);
}
!*???????*!
#skill .js:after {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}
!*??????*!
#skill .jquery:after {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
}
!*??????*!
#skill .webpack:after {
    -webkit-transform: rotate(70deg);
    transform: rotate(70deg);
}
!*???????*!
#skill .bootstrap:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}*/

.circleProgress_wrapper{
    position: relative;
    width: 100px;
    height: 100px;

}
.circleProgress_wrapper .wrapper{
    width: 50px;
    height: 100px;
    position: absolute;
    top:0;
    overflow: hidden;
}
.circleProgress_wrapper .right{
    right:0;
}
.circleProgress_wrapper .left{
    left:0;
}
.circleProgress_wrapper .circleProgress{
    width: 100px;
    height: 100px;
    border:8px solid transparent;
    border-radius: 50%;
    box-sizing: border-box;
    position: absolute;
    top:0;
}
.circleProgress_wrapper .leftcircle{
    border-bottom:8px solid #b84d45;
    border-left:8px solid #b84d45;
    left:0;
    transform: rotate(45deg);
}
.circleProgress_wrapper .rightcircle{
    border-top:8px solid #b84d45;
    border-right:8px solid #b84d45;
    right:0;
    transform: rotate(45deg);
}
.circleProgress_wrapper .progressText{
    display: block;
    margin: 0;
    position: absolute;
    top: 42px;
    left:50%;
    line-height: 1;
    transform: translateX(-50%);
}
.circleProgress_wrapper .box{
    height: 100px;
    width: 100px;
    border: 8px solid #d3c5af;
    border-radius: 50%;
    box-sizing: border-box;
}
.circleProgress_wrapper .progress{
    height: 100px;
    width: 100px;
    background: white;
    border: 0;
    box-shadow: 0 0 0 ;
}
#skill  .more  span {
    display: inline-block;
    padding: 6px 30px;
    margin: 10px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #f5f5f5;
}
#skill  .more  h3 {
    margin: 50px 0;

}
#skill  .more{
    text-align: center;
}

#experience .title-bar{
    text-align: left;
    margin-top:30px;
    margin-bottom:20px;
}
#experience .title-bar .logo1{
    float:left;
    font-size:24px;
    color:#b84d45;
    margin:20px 10px 20px 20px;
}
#experience .title-bar h3{
    text-align: left;
}
#experience .tree {
    margin-top: 50px;
    border-left: 5px solid #b84d45;
    text-align: left;
}
#experience .tree .experience:before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 3px solid #009688;
    background-color: #fff;
    z-index: 1234;
    position: absolute;
    top: 0;
    left: -10px;
}
#experience .tree .experience {
    position: relative;
    padding-left: 20px;
}
/*#experience .exp-title{
    width:1000px;
    margin:0 auto;
    background: #ccc;
    !*padding:10px 0 10px 10px;*!
    color:#494d55;
    line-height:0!important;
    padding:10px 0 10px 0;
}
#experience .logo{
    float:left;
    font-size:24px;
    color:#b84d45;
    margin-right:10px;
}
#experience .title-bar h3{
    text-align: left;
}

#experience > .tree {
    margin-top: 50px;
    border-left: 5px solid #b84d45;
    text-align: left;
}
#experience .tree .experience:before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 3px solid #009688;
    background-color: #fff;
    z-index: 1234;
    position: absolute;
    top: 0;
    left: -10px;
}
#experience .tree .experience {
    position: relative;
    padding-left: 20px;
}*/
/*.productions{
    padding:10px;
}*/

#productions .title-bar{
    text-align: left;
    margin-top:30px;
    margin-bottom:30px;

}
#productions .pro-title h3{
    text-align: left;
}
#productions .logo2{
    float:left;
    font-size:24px;
    color:#b84d45;
    margin-left:20px;
    margin-right:10px;
}
/*#productions .content{
    padding:40px 100px 0px 100px;
}
#productions img{
    height: 200px;
}
#productions .item {
    position: relative;
    overflow: hidden;
    padding-bottom: 60px;
}*/
#productions .item{
    float:left;
    margin-left:20px;
    margin-top:20px;
    border:1px solid #eee;
    text-align:center;
    position:relative;
    color:#b84d45;
}
#productions .btn:hover{
    color:#b84d45;
}
#productions img{
    width:300px;
    height:200px;
}
#productions  .pf-text {
    width: 300px;
    height: 200px;
    padding: 60px 0 50px 0;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(51, 122, 183,0.6);
    opacity: 0;
    transition: all 0.6s ease-in-out;
}
/*????????*/
#productions .item .pf-text:before{
    content: '';
    display: block;
    position: absolute;
    top: 40px;
    bottom: 40px;
    left: 25px;
    right: 25px;
    border: 1px solid #fff;
    border-left: 0;
    border-right: 0;
    opacity: 0;
    transition: all 0.6s ease-in-out;
    transform: translateY(-50px);
}
#productions .item .pf-text::after {
    content: '';
    display: block;
    position: absolute;
    top: 25px;
    bottom: 25px;
    left: 35px;
    right: 35px;
    border: 1px solid #FFF;
    border-top: 0;
    border-bottom: 0;
    opacity: 0;
    transition: all 0.6s ease-in-out;
    transform: translateX(-50px);
}
#productions .item .text-des{
    padding:0 35px 0 35px;
}
#productions .item .pf-text .text-title, .item .pf-text .text-des {
    color: #fff;
    transition: all 1.2s ease-in-out;
}
#productions .item .pf-text:hover {
    opacity: 1;
}
#productions .item1 .pf-text:hover:before {
    opacity: 1;
    transform: translateY(0);
}
#productions .item1 .pf-text .text-title, .item1 .pf-text .text-des {
    transform: translateY(-70px);
}
#productions .item1 .pf-text:hover:after {
    opacity: 1;
    transform: translateX(0);
}
#productions .item1 .pf-text:hover .text-title,
#productions .item1 .pf-text:hover .text-des{
    transform: translateY(0);
}
/*????????*/
#productions .item2 {
    overflow: hidden;
}
#productions .item2 .pf-img {
    transform: scale(1);
    opacity: 1;
}
#productions .item2 .pf-img {
    transition: all 0.6s ease-in-out;
}
#productions .item2 .pf-text {
    transform: scale(0);
}

#productions .item2 .show:hover .pf-text{
    transform: scale(1);
    opacity: 1;
}

#productions .item2 .pf-img {
    transform: scale(1);
    opacity: 1;
}

#productions .item2 .show:hover .pf-img{
    transform: scale(2);
    opacity: 0;
}
/*?????????*/
#productions .item3 .pf-text .text-title,
#productions .item3 .pf-text .text-des{
    transform: translateY(50px);
}

#productions .item3 .pf-text:before {
    content: '';
    display: block;
    position: absolute;
    top: 35px;
    bottom: 35px;
    left: 25px;
    right: 25px;
    border: 1px solid #FFF;
    border-left: 0;
    border-right: 0;
    opacity: 0;
    transition: all 1s ease-in-out;
    transform: scale(0, 1);
}

#productions .item3 .pf-text::after {
    content: '';
    display: block;
    position: absolute;
    top: 35px;
    bottom: 35px;
    left: 25px;
    right: 25px;
    border: 1px solid #FFF;
    border-top: 0;
    border-bottom: 0;
    opacity: 0;
    transition: all 0.6s ease-in-out;
    transform: scale(1, 0);
}

#productions .item3 .pf-text:hover:before {
    opacity: 1;
    transform: scale(1);
}

#productions .item3 .pf-text:hover:after {
    opacity: 1;
    transform: scale(1);
}

#productions .item3 .pf-text:hover .text-title,
#productions .item3 .pf-text:hover .text-des{
    transform: translateY(0);
}
/*????????*/
#productions .item4 .show{
    display:inline-block;
    width:300px;
    height:200px;
    position: relative;
    overflow: hidden;
}
#productions .item4 .pf-text .text-title, .item4 .pf-text .text-des {
    transform: translateY(-70px);
}
#productions .item4 .pf-text {
    background: rgba(12, 34, 52, 0.6);
    width: 361px;
    height: 0px;
    padding: 0;
    transform-origin: 0% 100%;
    transform: translate(66px, 180px) rotate(-33.7deg) ;
    transition: all 0.4s ease-in-out 0.4s;
    opacity: 0;
    position: absolute;
    z-index: 4;
}

#productions .item4 .pf-text .text-title{
    margin: 15px 0 5px 0;
    padding: 10px;
}

#productions .item4 .pf-text .text-des{
    padding: 15px;
    margin: 0 0 15px 0;
}

#productions .item4 .mark-one {
    opacity:0;
    width: 361px;
    height: 361px;
    background: rgba(51, 122, 183,0.5);
    position: absolute;
    top: 0;
    right: -1px;
    transform-origin: 100% 0;
    transform:  rotate(56.3deg) translateX(-170px);
    transition: all 0.4s ease-in-out;
    z-index: 3;
}

#productions .item4 .mark-two {
    opacity:0;
    width: 361px;
    height: 361px;
    background: rgba(51, 122, 183,0.5);
    position: absolute;
    bottom: 0px;
    left: 0px;
    transform-origin: 0% 100%;
    transform:  rotate(56.3deg) translateX(170px);
    transition: all 0.4s ease-in-out;
    z-index: 3;
}

#productions .item4 .show:hover .pf-text {
    transform:  translate(0px) rotateZ(0deg);
    width: 300px;
    height: 150px;
    top: 100px;
    opacity: 1;
}

#productions .item4 .show:hover .mark-one {
    opacity:1;
    transform:  rotate(56.3deg) translateX(0px);
}

#productions .item4 .show:hover .mark-two {
    opacity:1;
    transform:  rotate(56.3deg) translateX(0px);
}
/*????????*/
#productions .item5 .pf-text {
    transform-origin: 50% 0%;
    transform: translate3d(0, 0, -250px) rotate3d(1, 0, 0, 90deg);
    opacity: 0;
}
#productions .item5 >.show {
    perspective: 1000px;
    position: relative;
    display: inline-block;
    width: 300px;
    height: 200px;
}
#productions .item5  {
    transform-style: preserve-3d;
}
#productions .item5 .pf-img {
    transform-origin: 0% 0%;
    position: absolute;
    top: 0;
    left: 0;
}
#productions .item5 >.show:hover .pf-text {
    transform: translate3d(0, 0, 0) rotate3d(1, 0, 0, 0deg);
    opacity: 1;
}
#productions .item5 >.show:hover .pf-img{
    transform: translate3d(0, 250px, 0)
    rotate3d(1, 0, 0, -90deg);
    opacity: 0;
}
/*?????????*/
#productions .item6 .pf-text{
    font-size:70px;
    color:white;

}
#footer .info{
    background: #b84d45 url(../img/bg.png);
    padding:50px 0;
    text-align: center;
    margin-top:20px;
    color:rgba(255,255,255,0.7)
}
#footer .info p{
    font-size:20px;
}
#goTop{
    position: fixed;
    bottom: 0;
    right: 30px;
    font-size: 60px;
    transition: 1s;
    z-index: 2;
}
#goTop:hover {
    transform: scale(1.5);
}

#goTop .fa-rocket {
    display: inline-block;
    width: 100%;
    height: 100%;
    transform: rotateZ(-45deg);
    color: rgba(53, 150, 40,0.8);
}