/**/
.h5{
    height:100%
}
.h5_page{
    width:100%;
    height:100%;
    position:relative;/*此处不设相对定位的话，则第二页的内容会跑到第一页去*/
    background-color: #ddd;
    background-size:100%;
    background-repeat: no-repeat;
}